{% extends "activity_base.html" %}

{% load staticfiles %}

{% block activity-title %}活动列表{% endblock %}

{% block nav-li %}
    <li class="{% block activity-list-active %}active{% endblock %}"><a class="btn-link" href="{% url "adminpage.views.activity_list" %}">活动列表</a></li>
    {% block nav-li-ext %}{% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/activity_list.css" %}"/>
{% endblock %}

{% block js %}
    <script>
        activities = [
            {% for activity in activities %}
                {
                    'status': {{ activity.status }},
                    'name': '{{ activity.name|escapejs }}',
                    'description': '{{ activity.description|escapejs }}',
                    'start_time': new Date('{{ activity.start_time|date:"r" }}'),
                    'end_time': new Date('{{ activity.end_time|date:"r" }}'),
                    'place': '{{ activity.place|escapejs }}',
                    'book_start': new Date('{{ activity.book_start|date:"r" }}'),
                    'book_end': new Date('{{ activity.book_end|date:"r" }}'),
                    'detail_url': '{% url "adminpage.views.activity_detail" actid=activity.id %}',
                    'delete':{{ activity.id }}
                }{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
        ];
    </script>
    <script src="{% static "js/activity_list.js" %}"></script>
{% endblock %}

{% block username %}
    <a href={% url "adminpage.views.logout" %} >登出</a>

{% endblock %}

{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">

    <div class="pageheader">
        <h1 class="lead">活动列表</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-default" href={% url "adminpage.views.activity_add" %}>新增活动</a>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>状态</th>
                <th>名称</th>
                <th>简介</th>
                <th>活动时间</th>
                <th>地点</th>
                <th>订票时间</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody id="tbody-activities">
            </tbody>
        </table>
    </div>

</div>

<!-- Modal -->
<div id="deleteid" style="display: none;"></div>
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="delModalLabel">确认删除</h4>
      </div>
      <div class="modal-body" id="modalcontent">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="delConfirm()">确认</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="delCancel()">取消</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}