{% extends "base_with_nav.html" %}

{% load staticfiles %}

{% block css %}
    <link href="{% static "lib/bs/css/signin.css" %}" rel="stylesheet" type="text/css" />
{%  endblock %}
{% block title %}
    Login
{% endblock %}

{% block nav-title %}
    <!--<img src="{% static "logo.png" %}">-->
“清小团”票务管理系统
{% endblock %}

{% block content %}
    <div class="container">
        <form id="login" class="form-signin" action="{% url adminpage.views.order_login %}" method="post" role="form">
            {% csrf_token %}

            <h2 class="form-signin-heading">登录</h2>

            <div id="alert"></div>

            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="info学号" required autofocus>

            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="info密码" required>

            <input id="" type="submit" class="btn btn-block btn-primary" value="登录">
        </form>
    </div>

{% endblock %}

{% block js %}
<script src="{% static "lib/jq/form/jquery.form.min.js" %}"></script>
<script>
    function showError(message, dom){
        $('#alert').addClass('alert alert-danger');
        $('#alert').text(message);
        dom.focus();
    }
    function response(data){
        if (data.message == 'success'){
            location.href = data.next;
        } else{
            showError('账号或者密码错误，请重新输入', $('#inputPassword'));
        }
    }
    $('#login').submit(function() {
        var data = {
            dataType: 'json',
            beforeSubmit: function(){return true},
            success: response
        }
        $(this).ajaxSubmit(data);
        return false;
    });
</script>
{% endblock %}

{% block footer %}
<p style="text-align: right">清小团 &copy; 2013</p>
{% endblock %}