{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
票务信息 - 清小团
{% endblock %}

{% block css %}
<link href="{% static "css/ticket.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
    <script src="{% static "js/ticket.js" %}"></script>
{% endblock %}

{% block header %}
<img class="header-img" src="{% static "img/logo.png" %}" />
{% endblock %}

{% block theme %}
    “{{ act_name }}”电子票
{% endblock %}

{% block content %}

    {% include 'activityphoto.html' %}

    <div class="ticket-wrapper">
        <b>电子票状态：</b>
        {% if ticket_status == 0 %}
            <span class="status-size ticket-invalid">无效</span>
        {% elif ticket_status == 1 %}
            <span class="status-size ticket-valid">合法</span>
        {% elif ticket_status == 2 %}
            <span class="status-size ticket-used">已使用</span>
        {% else %}
        {% endif %}
    </div>
    <div class="ticket-wrapper">
        <b>活动地点：</b>{{ act_place }}
    </div>
    <div class="ticket-wrapper">
        <b>活动开始时间：</b>{{ act_begintime|date:"Y年m月d日H时i分" }}
    </div>
    <div class="ticket-wrapper">
        <b>活动结束时间：</b>{{ act_endtime|date:"Y年m月d日H时i分" }}
    </div>

{% endblock %}