{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
票务信息 - 清华紫荆之声
{% endblock %}

{% block css %}
<link href="{% static "css/ticket.css" %}?_=2" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
    <script src="{% static "js/ticket.js" %}"></script>
{% endblock %}

{% block theme %}
    “{{ act_name }}”电子票
{% endblock %}

{% block content %}

    {% include 'activityphoto.html' %}

    <div class="ticket-wrapper">
        <b>电子票状态：</b>
        {% if ticket_status == 0 %}
            <span class="status-size ticket-invalid">无效</span>
        {% elif ticket_status == 1 %}
            <span class="status-size ticket-valid">未使用</span>
        {% elif ticket_status == 2 %}
            <span class="status-size ticket-used">已使用</span>
        {% elif ticket_status == 3 %}
            <span class="status-size ticket-used">活动已结束</span>
        {% else %}
        {% endif %}
    </div>
    <div class="ticket-wrapper">
        活动地点：<b>{{ act_place }}</b>
    </div>
    {% if ticket_status > 0 %}
        {% if ticket_seat == 'B' %}
            <div class="ticket-wrapper">
                说明：<span class="status-size ticket-used">您的座位在B区，请从东南口进入</span>
            </div>
        {% elif ticket_seat == 'C' %}
            <div class="ticket-wrapper">
                说明：<span class="status-size ticket-used">您的座位在C区，请从西北口进入</span>
            </div>
        {% endif %}
    {% endif %}
    <div class="ticket-wrapper">
        活动开始时间：<b>{{ act_begintime|date:"Y年m月d日H时i分" }}</b>
    </div>
    {% if ticket_status == 1 %}
    <div class="ticket-wrapper">
        <span class="status-size ticket-valid">活动开始前30分钟凭本电子票入场</span>
    </div>
    {% endif %}
    <div class="ticket-wrapper">
        活动结束时间：<b>{{ act_endtime|date:"Y年m月d日H时i分" }}</b>
    </div>
    {% if ticket_status == 1 %}
    <div class="ticket-wrapper">
        <b>回复“退票 {{ act_key }}”即可退票</b>
    </div>
    {% endif %}

{% endblock %}