<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static "css/base.css"%}" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
    <title>{% block title %}清小团——最优秀的校园服务助手{% endblock %}</title>
</head>
<body>
    <header>{% block header %}{% endblock %}</header>

    <div class="theme">{% block theme %}{% endblock %}</div>

    <hr/>

    {% block content %}{% endblock %}
    <footer id="footer">
        <hr />
        共青团清华大学委员会成才信息中心<br>
        &copy; 2013
    </footer>
    <script src="{% static "js/weixin_lib.js?_=1" %}"></script>
    {% block js %}{% endblock %}
</body>
</html>