.td-status {
    min-width: 90px;
}
.td-name {
    min-width: 90px;
}
.td-description {
    min-width: 100px;
}
.td-activity_time {
    width: 135px;
}
.td-book_time {
    width: 135px;
}
.td-place {
    min-width: 90px;
}
.td-detail_url {
    min-width: 70px;
}