.details-text{
    text-align:left;
}
.details-wrapper{
    text-align:center;
    padding-right: 10px;
    padding-left: 10px;
}
.img-wrapper{
    padding-top: 10px;
}
.details-wrapper .img-inner{
    padding-top: 6px;
    background: #fff;
    border-top: 6px solid #FFF;
    border-bottom: 6px solid #FFF;
    max-height: 300px;
    overflow: hidden;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.75);
    border-radius: 10px;
    width: 100%;
}
.details-wrapper .text-inner{
    border-radius: 10px;
    background-color: lightgrey;
}
.trigger {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 6px 0 6px 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    word-break:break-all;
}
.trigger a{

}
h7{
    font-size: 14px;
}
h8{
    font-size: 12px;
}
h9{
    font-size: 11px;
}
.details-img{
    width:96%;
}
.details-divider{
    width: 100%;
    height: 6px;
}
.date-wrapper{
    padding-left: 3%;
    height: 50px;
    min-width: 300px;
}
.date-wrapper .inner{
    background: lightgrey;
    border-top: 6px solid lightgrey;
    border-bottom: 6px solid lightgrey;
    border-radius: 10px;
    float:left;
}
.date{
    margin: 0px 8px 0px 5px;
    padding-left: 3%;
    text-align:center;
}
.date-space{
  float:left;
  margin:12px 12px 10px 10px;
}
span.hour{
    font-size:14px;
    color:#085C8F;
    text-align:center;
    font-weight:bold;
}
span.day{
    font-size:10px;
    color:#000;
    text-align:center;
    line-height:14px;
}
span.space{
    font-size: 20px;
    font-weight: bold;
}

.toggle_container{
    overflow: hidden;
    padding:8px 10px 0 10px;
    clear: both;
}
.toggle_container ul{
    padding:0;
    margin:0px;
    list-style:none;
}
.toggle_container ul li{
    padding: 5px 0 5px 10px;
    font-weight: bold;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    background-color: #6F6F6F;
}
.timer-wrapper{
    padding-left: 10px;
    padding-bottom: 3px;
}
.invalid-time{
    text-align: center;
    font-size: 20px;
    color: crimson;
}
.timer{
    font:20px arial;
    margin:0 5px;
	display:inline-block;
	width:2em;
	background-color:#444;
	border-radius:0.2em;
	text-align:center;
	color:#fff;
	letter-spacing:-1px;
}
.ticket{
    font:24px arial;
    margin:0 5px;
	display:inline-block;
	width:2em;
	background-color:#fff;
	border-radius:0.2em;
	text-align:center;
	color:red;
    font-weight: bold;
	letter-spacing:-1px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.75);
}
.abstract-wrapper{
    padding: 0px 10px 5px 10px;
}
.abstract{
    background: #fff;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    font-size: 14px;
}
.clipcopy{
    float: right;
    margin-right: 10px;
    color: blue;
}