.section{
    padding-left: 10px;
    padding-bottom: 3px;
}
.artical{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
h7{
    font-weight: bold;
    font-size: 18px;
}
.slidedown{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.slidedown a{
    color:blue;
    text-decoration: none;
    display: block;
    font-size: 16px;
}