.ticket-wrapper{
    padding-left: 10px;
    padding-bottom: 8px;
    text-align: center;
}
.details-wrapper{
    text-align: center;
    padding-bottom: 5px;
}
img{
    width: 50%;
}
.status-size{
    font-size: 18px;
}
.ticket-invalid{
   color: red;
}
.ticket-valid{
   color: green;
}
.ticket-used{
    color: orangered;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}